.products {
  &__add {
    margin-top: 40px;
    padding: 15px 20px;
    i {
      font-size: 15px;
      margin-right: 5px;
      font-weight: bold;
    }
  }
  &__table {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 40px;
    th,
    td {
      text-align: center;
      padding: 8px;
    }
    thead {
      tr {
        background-color: #f2f2f2;
      }
    }
    &__action {
      display: flex;
      justify-content: center;
      gap: 10px;
      &__edit {
        background-color: rgb(255, 174, 0);
        padding: 15px;
        i {
          font-size: 20px;
        }
      }
      &__delete {
        background-color: #f00;
        padding: 15px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}
